<!DOCTYPE html>
<html ng-app="preke">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="stilius/content.css">
<link rel="stylesheet" type="text/css" href="stilius/cart.css">
<link href='https://fonts.googleapis.com/css?family=Abril Fatface' rel='stylesheet'>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="js/productform.js"></script>
<script src="js/showorder.js"></script>
</head>

<ul class="navbar">
  <li class="logo"><a href="#">LOGO</a></li>
   <li ><a href="index.html">Prekių katalogas</a></li>
  <li class="cart"><a href="cart.html">Krepšelis</a></li>
</ul>
  
<body>

<div ng-controller="showOrder" ng-init="showorder()" >
</br></br></br></br></br></br></br></br>
<table>
       	<th>Pavadinimas</th>
         <th>Kiekis</th>
         <th>Kaina</th>
          <th></th>
      <tr ng-repeat="x in order">
       <td>
        <p>{{x.pavadinimas}}</p>
       </td>
       <td>
       <p>{{ x.kiekis }} vnt</p>
       </td>
        <td>
       <p>{{ x.kaina }} €</p>
       </td>
       <td><button class="myblue" id="{{x.id}}" ng-click="deleteData()" onClick="window.location.reload()">Išmesti</button></td>
       </tr>
        <td>
          <p class="move">Mokėti</p>
       </td>
         <td>
       <p class="move2">{{bendra}} €</p>
       </td>
         <td>
       
</div>
</table>
</div>

</body>
</html>
